<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=AppleMusic"IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Music</title> 
    <style>
        body {background-color: rgb(215, 136, 215) ;}
    </style>
</head>
<body>
    
    <b><h1 style="color:rgb(235, 98, 235)"> Base de Datos de Apple Music </h1> </b>
    {% block contenido %}
        
    {% endblock contenido %}
    
    {% include 'home/footer.html' %}
</body>
</html>